In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd

import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
#Load Datasets
initial_data = pd.read_csv('../01_Training_data/training_data_labels.csv')

fit_data = pd.read_csv('../03_Testing_data/testing_data.csv')

In [3]:
#Select columns
training_data = initial_data[["basin","population","construction_year","extraction_type","management","payment_type","water_quality","quantity","source"]]
#training_data.head(3)
training_data["train"] = 1

fit_data_set = fit_data[["basin","population","construction_year","extraction_type","management","payment_type","water_quality","quantity","source"]]
fit_data_set["train"] = 0
#fit_data_set.head(3)

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [4]:
combined = pd.concat([training_data,fit_data_set])
combined.shape

(74250, 10)

In [5]:
#Encode Categorical data
label_encoder = preprocessing.LabelEncoder()
combined['basin'] = label_encoder.fit_transform(combined['basin'])
combined['extraction_type'] = label_encoder.fit_transform(combined['extraction_type'])
combined['management'] = label_encoder.fit_transform(combined['management'])
combined['payment_type'] = label_encoder.fit_transform(combined['payment_type'])
combined['water_quality'] = label_encoder.fit_transform(combined['water_quality'])
combined['quantity'] = label_encoder.fit_transform(combined['quantity'])
combined['source'] = label_encoder.fit_transform(combined['source'])
#combined['status_group'] = label_encoder.fit_transform(combined['status_group'])
combined.head(8)

,basin,population,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,train
0,1,109,1999,3,7,0,6,1,8,1
1,4,280,2010,3,11,2,6,2,5,1
2,5,250,2009,3,7,5,6,1,0,1
3,7,58,1986,14,7,2,6,0,3,1
4,4,0,0,3,1,2,6,3,5,1
5,5,1,2009,14,7,5,4,1,4,1
6,0,0,0,15,7,2,6,1,3,1
7,3,0,0,8,11,6,3,1,7,1

In [6]:
train_df = combined[combined["train"]==1]
train_df.drop(["train"],axis=1,inplace=True)
test_df = combined[combined["train"]==0]
test_df.drop(["train"],axis=1,inplace=True)
train_df.shape
test_df.shape

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(14850, 9)

In [7]:
train_df["status_group"] = initial_data[["status_group"]]
train_df.shape

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(59400, 10)

In [8]:
train_df.head(20)

,basin,population,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,status_group
0,1,109,1999,3,7,0,6,1,8,functional
1,4,280,2010,3,11,2,6,2,5,functional
2,5,250,2009,3,7,5,6,1,0,functional
3,7,58,1986,14,7,2,6,0,3,non functional
4,4,0,0,3,1,2,6,3,5,functional
5,5,1,2009,14,7,5,4,1,4,functional
6,0,0,0,15,7,2,6,1,3,non functional
7,3,0,0,8,11,6,3,1,7,non functional
8,3,0,0,4,7,2,4,3,3,non functional
9,4,0,0,8,7,2,6,1,7,functional
10,8,345,2011,14,4,2,4,1,3,functional
11,1,250,1987,15,11,3,6,2,7,functional
12,0,0,0,8,11,4,6,1,7,functional
13,5,1,2009,3,9,1,6,1,8,functional
14,0,0,0,8,11,2,6,1,7,functional
15,3,200,1991,15,7,2,6,1,3,functional
16,6,35,1978,3,10,1,6,0,6,non functional
17,6,50,1978,3,10,3,6,0,6,non functional
18,4,1000,1999,9,7,2,3,2,8,functional needs repair
19,1,1,1992,3,7,0,6,1,8,functional

In [13]:
train_df["status_group"] = train_df["status_group"].replace(to_replace ="functional", 
                 value =0)

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
train_df["status_group"] = train_df["status_group"].replace(to_replace ="non functional", 
                 value =1)

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
train_df["status_group"] = train_df["status_group"].replace(to_replace ="functional needs repair", 
                 value =2)

/home/chamodyadias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
train_df.head(20)

,basin,population,construction_year,extraction_type,management,payment_type,water_quality,quantity,source,status_group
0,1,109,1999,3,7,0,6,1,8,0
1,4,280,2010,3,11,2,6,2,5,0
2,5,250,2009,3,7,5,6,1,0,0
3,7,58,1986,14,7,2,6,0,3,1
4,4,0,0,3,1,2,6,3,5,0
5,5,1,2009,14,7,5,4,1,4,0
6,0,0,0,15,7,2,6,1,3,1
7,3,0,0,8,11,6,3,1,7,1
8,3,0,0,4,7,2,4,3,3,1
9,4,0,0,8,7,2,6,1,7,0
10,8,345,2011,14,4,2,4,1,3,0
11,1,250,1987,15,11,3,6,2,7,0
12,0,0,0,8,11,4,6,1,7,0
13,5,1,2009,3,9,1,6,1,8,0
14,0,0,0,8,11,2,6,1,7,0
15,3,200,1991,15,7,2,6,1,3,0
16,6,35,1978,3,10,1,6,0,6,1
17,6,50,1978,3,10,3,6,0,6,1
18,4,1000,1999,9,7,2,3,2,8,2
19,1,1,1992,3,7,0,6,1,8,0

In [17]:
train, test = train_test_split(train_df, test_size=0.2)
train, val = train_test_split(train, test_size=0.2)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

38016 train examples
9504 validation examples
11880 test examples

In [18]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('status_group')
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe))
  ds = ds.batch(batch_size)
  return ds

In [19]:
feature_columns = []

# numeric cols
for header in ["basin","population","construction_year","extraction_type","management","payment_type","water_quality","quantity","source"]:
  feature_columns.append(feature_column.numeric_column(header))

In [20]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [21]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(test, shuffle=False, batch_size=batch_size)

In [24]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(128, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=val_ds,
          epochs=50)

WARNING:tensorflow:Entity <bound method DenseFeatures.call of <tensorflow.python.feature_column.feature_column_v2.DenseFeatures object at 0x7f7670287908>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DenseFeatures.call of <tensorflow.python.feature_column.feature_column_v2.DenseFeatures object at 0x7f7670287908>>: AttributeError: module 'gast' has no attribute 'Num'
WARNING: Entity <bound method DenseFeatures.call of <tensorflow.python.feature_column.feature_column_v2.DenseFeatures object at 0x7f7670287908>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method DenseFeatures.call of <tensorflow.python.feature_column.feature_column_v2.DenseFeatures object at 0x7f7670287908>>: AttributeError: module 'gast' has no attribute 'Num'
Epoch 1/100
1188/1188 [==============================] - 4s 3ms/step - loss: 2.8189 - acc: 0.4691 - val_loss: 1.0050 - val_acc: 0.5537
Epoch 2/100
1188/1188 [==============================] - 3s 3ms/step - loss: 2.3035 - acc: 0.4921 - val_loss: 0.7384 - val_acc: 0.5822
Epoch 3/100
1188/1188 [==============================] - 3s 3ms/step - loss: 1.2377 - acc: 0.5053 - val_loss: 1.0490 - val_acc: 0.4401
Epoch 4/100
1188/1188 [==============================] - 3s 3ms/step - loss: 1.1744 - acc: 0.5060 - val_loss: 0.8008 - val_acc: 0.4386
Epoch 5/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.9628 - acc: 0.5155 - val_loss: 0.7182 - val_acc: 0.4714
Epoch 6/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.8562 - acc: 0.5093 - val_loss: 1.2056 - val_acc: 0.4431
Epoch 7/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.8118 - acc: 0.5205 - val_loss: 0.6725 - val_acc: 0.4328
Epoch 8/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.7442 - acc: 0.5199 - val_loss: 0.6728 - val_acc: 0.5731
Epoch 9/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.7166 - acc: 0.5237 - val_loss: 0.7105 - val_acc: 0.5759
Epoch 10/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.6976 - acc: 0.5303 - val_loss: 0.6477 - val_acc: 0.5311
Epoch 11/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6765 - acc: 0.5344 - val_loss: 0.6451 - val_acc: 0.5624
Epoch 12/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6498 - acc: 0.5427 - val_loss: 0.6437 - val_acc: 0.4830
Epoch 13/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6407 - acc: 0.5501 - val_loss: 0.6384 - val_acc: 0.5752
Epoch 14/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.6357 - acc: 0.5548 - val_loss: 0.6488 - val_acc: 0.5426
Epoch 15/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.6322 - acc: 0.5561 - val_loss: 0.6335 - val_acc: 0.5777
Epoch 16/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6253 - acc: 0.5574 - val_loss: 0.6332 - val_acc: 0.5733
Epoch 17/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.6256 - acc: 0.5592 - val_loss: 0.6231 - val_acc: 0.5909
Epoch 18/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6242 - acc: 0.5563 - val_loss: 0.6336 - val_acc: 0.5521
Epoch 19/100
1188/1188 [==============================] - 4s 4ms/step - loss: 0.6178 - acc: 0.5574 - val_loss: 0.6287 - val_acc: 0.5340
Epoch 20/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6183 - acc: 0.5604 - val_loss: 0.6558 - val_acc: 0.4932
Epoch 21/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6151 - acc: 0.5653 - val_loss: 0.6226 - val_acc: 0.5411
Epoch 22/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6222 - acc: 0.5379 - val_loss: 0.6320 - val_acc: 0.5444
Epoch 23/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6199 - acc: 0.5531 - val_loss: 0.6326 - val_acc: 0.5576
Epoch 24/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6181 - acc: 0.5382 - val_loss: 0.6342 - val_acc: 0.4635
Epoch 25/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6178 - acc: 0.5276 - val_loss: 0.6264 - val_acc: 0.5811
Epoch 26/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6158 - acc: 0.5414 - val_loss: 0.6262 - val_acc: 0.4773
Epoch 27/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6137 - acc: 0.5435 - val_loss: 0.6283 - val_acc: 0.4732
Epoch 28/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6130 - acc: 0.5167 - val_loss: 0.6233 - val_acc: 0.5951
Epoch 29/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6111 - acc: 0.5245 - val_loss: 0.6305 - val_acc: 0.4469
Epoch 30/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6083 - acc: 0.5247 - val_loss: 0.6235 - val_acc: 0.4700
Epoch 31/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.6048 - acc: 0.5252 - val_loss: 0.6195 - val_acc: 0.4578
Epoch 32/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5991 - acc: 0.5196 - val_loss: 0.6208 - val_acc: 0.4782
Epoch 33/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.5954 - acc: 0.4815 - val_loss: 0.6177 - val_acc: 0.4680
Epoch 34/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.5862 - acc: 0.4835 - val_loss: 0.6218 - val_acc: 0.5793
Epoch 35/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5821 - acc: 0.5003 - val_loss: 0.6190 - val_acc: 0.4711
Epoch 36/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5738 - acc: 0.4915 - val_loss: 0.6077 - val_acc: 0.4711
Epoch 37/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5649 - acc: 0.4818 - val_loss: 0.6174 - val_acc: 0.4558
Epoch 38/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5512 - acc: 0.4762 - val_loss: 0.5971 - val_acc: 0.5051
Epoch 39/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.5358 - acc: 0.4770 - val_loss: 0.6220 - val_acc: 0.4598
Epoch 40/100
1188/1188 [==============================] - 3s 2ms/step - loss: 0.5140 - acc: 0.4761 - val_loss: 0.6134 - val_acc: 0.4661
Epoch 41/100
1188/1188 [==============================] - 3s 2ms/step - loss: 0.5079 - acc: 0.5551 - val_loss: 0.5739 - val_acc: 0.4727
Epoch 42/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.4708 - acc: 0.4786 - val_loss: 0.5865 - val_acc: 0.4757
Epoch 43/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.4526 - acc: 0.4744 - val_loss: 0.5307 - val_acc: 0.4649
Epoch 44/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.3976 - acc: 0.4796 - val_loss: 0.5296 - val_acc: 0.4718
Epoch 45/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.3498 - acc: 0.4859 - val_loss: 0.5036 - val_acc: 0.4621
Epoch 46/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.2977 - acc: 0.4854 - val_loss: 0.5541 - val_acc: 0.4585
Epoch 47/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.2598 - acc: 0.4798 - val_loss: 0.4622 - val_acc: 0.4578
Epoch 48/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.1718 - acc: 0.4932 - val_loss: 0.4447 - val_acc: 0.4592
Epoch 49/100
1188/1188 [==============================] - 4s 3ms/step - loss: 0.1290 - acc: 0.4759 - val_loss: 0.4027 - val_acc: 0.4652
Epoch 50/100
1188/1188 [==============================] - 3s 3ms/step - loss: 0.0382 - acc: 0.4751 - val_loss: 0.3343 - val_acc: 0.4729
Epoch 51/100
1188/1188 [==============================] - 3s 3ms/step - loss: -0.0878 - acc: 0.5162 - val_loss: 0.5167 - val_acc: 0.4692
Epoch 52/100
1188/1188 [==============================] - 3s 3ms/step - loss: -0.1810 - acc: 0.4821 - val_loss: 0.1765 - val_acc: 0.4568

Epoch 53/100
1188/1188 [==============================] - 4s 3ms/step - loss: -0.2943 - acc: 0.5043 - val_loss: 0.1262 - val_acc: 0.4693
Epoch 54/100
1188/1188 [==============================] - 4s 3ms/step - loss: -0.4838 - acc: 0.5234 - val_loss: 0.4242 - val_acc: 0.4705
Epoch 55/100
1188/1188 [==============================] - 5s 4ms/step - loss: -0.5849 - acc: 0.5003 - val_loss: 0.0907 - val_acc: 0.4604
Epoch 56/100
1188/1188 [==============================] - 4s 3ms/step - loss: -0.7879 - acc: 0.4759 - val_loss: -0.0048 - val_acc: 0.4779
Epoch 57/100
1188/1188 [==============================] - 3s 3ms/step - loss: -0.9230 - acc: 0.5157 - val_loss: -0.1984 - val_acc: 0.4645
Epoch 58/100
1188/1188 [==============================] - 3s 3ms/step - loss: -1.0742 - acc: 0.5153 - val_loss: -0.3277 - val_acc: 0.4721
Epoch 59/100
1188/1188 [==============================] - 3s 3ms/step - loss: -1.3094 - acc: 0.4746 - val_loss: -0.4636 - val_acc: 0.4734
Epoch 60/100
1188/1188 [==============================] - 4s 3ms/step - loss: -1.6412 - acc: 0.5051 - val_loss: -0.5373 - val_acc: 0.4738
Epoch 61/100
1188/1188 [==============================] - 4s 3ms/step - loss: -1.8549 - acc: 0.5231 - val_loss: 1.2853 - val_acc: 0.4573
Epoch 62/100
1188/1188 [==============================] - 3s 3ms/step - loss: -1.9167 - acc: 0.5089 - val_loss: -0.3504 - val_acc: 0.4740
Epoch 63/100
1188/1188 [==============================] - 4s 3ms/step - loss: -2.3679 - acc: 0.4938 - val_loss: -0.6121 - val_acc: 0.4556
Epoch 64/100
1188/1188 [==============================] - 4s 3ms/step - loss: -2.6328 - acc: 0.4776 - val_loss: -1.0780 - val_acc: 0.4696
Epoch 65/100
1188/1188 [==============================] - 3s 3ms/step - loss: -3.0470 - acc: 0.5135 - val_loss: -1.3274 - val_acc: 0.4715
Epoch 66/100
1188/1188 [==============================] - 3s 3ms/step - loss: -3.5262 - acc: 0.5029 - val_loss: -1.1699 - val_acc: 0.5936
Epoch 67/100
1188/1188 [==============================] - 3s 3ms/step - loss: -3.6826 - acc: 0.4932 - val_loss: -1.6469 - val_acc: 0.5907
Epoch 68/100
1188/1188 [==============================] - 3s 3ms/step - loss: -4.0390 - acc: 0.5089 - val_loss: -2.0825 - val_acc: 0.4639
Epoch 69/100
1188/1188 [==============================] - 3s 3ms/step - loss: -4.4508 - acc: 0.5004 - val_loss: -2.3146 - val_acc: 0.4729
Epoch 70/100
1188/1188 [==============================] - 3s 3ms/step - loss: -4.9477 - acc: 0.4746 - val_loss: -2.3094 - val_acc: 0.4525
Epoch 71/100
1188/1188 [==============================] - 3s 3ms/step - loss: -5.2652 - acc: 0.5178 - val_loss: -2.7655 - val_acc: 0.4644
Epoch 72/100
1188/1188 [==============================] - 3s 3ms/step - loss: -5.9370 - acc: 0.4830 - val_loss: -0.2345 - val_acc: 0.4695
Epoch 73/100
1188/1188 [==============================] - 3s 3ms/step - loss: -6.4110 - acc: 0.5331 - val_loss: -2.9732 - val_acc: 0.4543
Epoch 74/100
1188/1188 [==============================] - 4s 3ms/step - loss: -6.9868 - acc: 0.5076 - val_loss: -3.0041 - val_acc: 0.4518
Epoch 75/100
1188/1188 [==============================] - 4s 3ms/step - loss: -7.5161 - acc: 0.4702 - val_loss: -3.7521 - val_acc: 0.4660
Epoch 76/100
1188/1188 [==============================] - 3s 3ms/step - loss: -8.1261 - acc: 0.4952 - val_loss: -4.3417 - val_acc: 0.4583
Epoch 77/100
1188/1188 [==============================] - 4s 3ms/step - loss: -9.0734 - acc: 0.4806 - val_loss: -4.7517 - val_acc: 0.4633
Epoch 78/100
1188/1188 [==============================] - 3s 3ms/step - loss: -10.2128 - acc: 0.4836 - val_loss: -5.3569 - val_acc: 0.4675
Epoch 79/100
1188/1188 [==============================] - 3s 3ms/step - loss: -10.6211 - acc: 0.4774 - val_loss: -2.7810 - val_acc: 0.4593
Epoch 80/100
1188/1188 [==============================] - 4s 3ms/step - loss: -11.0873 - acc: 0.4710 - val_loss: -6.2433 - val_acc: 0.4597
Epoch 81/100
1188/1188 [==============================] - 4s 4ms/step - loss: -12.1914 - acc: 0.4823 - val_loss: -6.4447 - val_acc: 0.4496
Epoch 82/100
1188/1188 [==============================] - 4s 3ms/step - loss: -12.9407 - acc: 0.4717 - val_loss: -6.8987 - val_acc: 0.4679
Epoch 83/100
1188/1188 [==============================] - 4s 3ms/step - loss: -13.9227 - acc: 0.4716 - val_loss: -8.0667 - val_acc: 0.4633
Epoch 84/100
1188/1188 [==============================] - 4s 3ms/step - loss: -15.3199 - acc: 0.4839 - val_loss: -8.3473 - val_acc: 0.4625
Epoch 85/100
1188/1188 [==============================] - 4s 3ms/step - loss: -15.7302 - acc: 0.4710 - val_loss: -8.6418 - val_acc: 0.4645
Epoch 86/100
1188/1188 [==============================] - 3s 3ms/step - loss: -16.8977 - acc: 0.4708 - val_loss: -9.9963 - val_acc: 0.4702
Epoch 87/100
1188/1188 [==============================] - 4s 3ms/step - loss: -18.2999 - acc: 0.4884 - val_loss: -9.5673 - val_acc: 0.4652
Epoch 88/100
1188/1188 [==============================] - 4s 3ms/step - loss: -19.2328 - acc: 0.4726 - val_loss: -11.2228 - val_acc: 0.4698
Epoch 89/100
1188/1188 [==============================] - 4s 3ms/step - loss: -20.4400 - acc: 0.4721 - val_loss: -11.0287 - val_acc: 0.5905
Epoch 90/100
1188/1188 [==============================] - 4s 3ms/step - loss: -21.6305 - acc: 0.5147 - val_loss: -12.5268 - val_acc: 0.4742
Epoch 91/100
1188/1188 [==============================] - 3s 3ms/step - loss: -22.8808 - acc: 0.5034 - val_loss: -11.8066 - val_acc: 0.4715
Epoch 92/100
1188/1188 [==============================] - 3s 3ms/step - loss: -24.0747 - acc: 0.4715 - val_loss: -13.1803 - val_acc: 0.4709
Epoch 93/100
1188/1188 [==============================] - 3s 3ms/step - loss: -25.4491 - acc: 0.4697 - val_loss: -13.6616 - val_acc: 0.4650
Epoch 94/100
1188/1188 [==============================] - 3s 3ms/step - loss: -27.5517 - acc: 0.4693 - val_loss: -15.3440 - val_acc: 0.4559
Epoch 95/100
1188/1188 [==============================] - 3s 3ms/step - loss: -27.8804 - acc: 0.4733 - val_loss: -11.4374 - val_acc: 0.4441
Epoch 96/100
1188/1188 [==============================] - 3s 3ms/step - loss: -30.4158 - acc: 0.4930 - val_loss: -14.3138 - val_acc: 0.4665
Epoch 97/100
1188/1188 [==============================] - 3s 2ms/step - loss: -32.0418 - acc: 0.4971 - val_loss: -14.1195 - val_acc: 0.4613
Epoch 98/100
1188/1188 [==============================] - 3s 3ms/step - loss: -33.4208 - acc: 0.4695 - val_loss: -14.9484 - val_acc: 0.4581
Epoch 99/100
1188/1188 [==============================] - 4s 3ms/step - loss: -34.6845 - acc: 0.4725 - val_loss: -18.0140 - val_acc: 0.5971
Epoch 100/100
1188/1188 [==============================] - 4s 3ms/step - loss: -36.8074 - acc: 0.4797 - val_loss: 12.1919 - val_acc: 0.4361

In [25]:
loss, accuracy = model.evaluate(test_ds)
print("Accuracy", accuracy)

372/372 [==============================] - 1s 3ms/step - loss: 15.1205 - acc: 0.4445
Accuracy 0.4445286